<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php" colors="true" stopOnFailure="false">
    <testsuites>
        <testsuite name="Value Objects">
            <directory>tests/value-objects</directory>
        </testsuite>
        <testsuite name="Question">
            <directory>tests/question</directory>
        </testsuite>
        <testsuite name="ApiAddition">
            <directory>tests/api</directory>
        </testsuite>
    </testsuites>
</phpunit>